html, body {
    min-height: 100%;
}

body {
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imagens/bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ccc;
}

.hero{
    padding: 1px;
}

.hero-content{
    margin: 100px auto 0;
    width: 80%;
    color: white;
    text-align: center;
}

.main-title{
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 3px 3px black;
    font-size: 56px;
    margin-bottom: 0;
}

.main-text{
    font-size: 18px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 16px;
    border-bottom: 2px solid white;
    display: inline-block;
}


.main-content{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 860px;
    margin: auto;
    background-color: white;
    padding: 20px;
}

.main-content-cards {
    flex-basis: 250px;
    flex-grow: 1;
}
.main-content-cards img{
    width: 100%;
    display: block;
}

.main-content-cards__title{
    background-color: rgb(68, 68, 68);
    color: white;
    padding: 10px;
    margin: 0;
}